server:
  shutdown: graceful

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service.msa-project.svc.cluster.local:8082/.well-known/jwks.json

management:
  zipkin:
    tracing:
      endpoint: "http://${ZIPKIN_HOST}:${ZIPKIN_PORT}/api/v2/spans"

logging:
  level:
    root: INFO
