server:
  shutdown: graceful

nats:
  url: ${NATS_URL:nats://nats:4222}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

management:
  zipkin:
    tracing:
      endpoint: "http://${ZIPKIN_HOST}:${ZIPKIN_PORT}/api/v2/spans"

logging:
  level:
    root: INFO
